<!DOCTYPE html>
<html lang="en">
<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

  <title>My Node Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

<!-- References a Handlebars partial in views/partials/navbar.handlebars -->
{{>navbar}}

<!-- The HTML for each view goes here -->
<div class="container">
{{{body}}}
</div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>